.App {
  height: 100%;
  width: 100%;
  display: flex
}
.App  > header {
  height: 0.88rem;
  text-align: center;
  line-height: 0.88rem;
  font-size:0.3rem;
  color:#fff;
  position: fixed;
  top: 0;
  left: 0;
  background: orange;
  width:100%
}
.App > footer {
  height: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  line-height: 1rem;
  background: orchid;
  color: #fff
}
.App > footer > span {
  display: inline-block;
  width: 24.7%;
  background: pink;
  border-right: 1px solid orange;
    text-align: center;
}
.section {
  height: 100%;
  padding-top: 0.88rem;
  margin-bottom: 1.2rem;
  width: 100%
}
.section > p {
  height: 2rem;
  margin-top: 0.2rem
  ;background: red;
  width: 100%
}